@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Regular.woff);
    src: url(../fonts/Raleway-Regular.ttf) format(truetype);
}

/* style sur les polices et Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Lato";
}

h2 {
    font-family: "Lato";
}

h3 {
    font-family: "Lato";
    color: #17abb3;
}

p {
    font-family: "Raleway";
}

a {
    font-family: "Raleway";
}

.gras {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.photoprofil {
    border-radius: 50%;
    border: 5px solid white;
    width: 100px;
    height: 100px;
    object-fit: cover;
    float: left;
    margin-top: 10px;
    margin-left: 50px;
}

.borys:hover {
    cursor: zoom-in;
}

header {
    color: white;
    background-color: #17abb3;
    text-align: center;
}

/* style pour la barre de menu a gauche */

aside {
    width:350px;
    height: 100%;
    background-color: #f5f5f5;
}

.title01 {
    padding: 0 0 20px 20px;
}

.menugauche {
    padding: 5px;
}

li {
    padding: 3px;
    font-family: "Raleway";

}

.list {
    list-style-type: none;
}

.carre {
    list-style-type: square;
}

/* style sur le contenu */

body {
    display: flex;
    justify-content: center;
    max-width: 1160px;
    margin: 0 auto;
    padding: 20px;
    align-items: flex-start;
}

.body01 {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.body02 {
    padding: 15px 0 15px 0;
}

.body03 {
    position: relative;
    padding: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
}

.body04 {
    position: absolute;
    right: 0;
    color: #17abb3;
}

.body05 {
    padding-bottom: 20px;
}

.body06 {
    height:max-content;
    display: flex;
}

.body08 {
    text-indent: 5%;
}
    /* stle pour le footer */
footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #17abb3;
    text-align: center;
}

.foot {
    flex-basis: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.foot2 {
    flex-basis: 100%;
    padding-bottom: 10px;
    font-style: italic;
    color: white;
}