@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Regular.woff);
    src: url(../fonts/Raleway-Regular.ttf) format(truetype);
}
/* style sur les polices et Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family:"Lato" ;
}
h2{
    font-family: "Lato";
}

h3{
    font-family: "Lato";
    color: #17abb3;
}

p{
    font-family: "Raleway";
}

.gras{
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/* style sur le contenu */

body {
    display: flex;
    justify-content: center;
    max-width: 1160px;
    margin: 0 auto;
    padding: 20px;
    align-items: flex-start;
}

.photoprofil {
    border-radius: 50%;
    border: 5px solid white;
    width: 100px;
    height: 100px;
    object-fit: cover;
    float: left;
}

header {
    color: white;
    background-color: #17abb3;
    text-align: center;
}

/* style pour la barre de menu a gauche */

aside{
    width: 200px;
    float: left;
    height: 630px;
    padding: 20px;
    background-color: #e3e3e3;
    padding: 20px;
}
.menugauche{
    padding: 5px;
}

li {
    padding: 3px;
}

.list{
    list-style-type: none;
}

.carre{
    list-style-type:square;
}

footer{
    background-color: #17abb3;
    text-align: center;
}
